<!--HEADER NAV-->
<nav class="navbar navbar-expand-lg pt-0 w-100 position-absolute top-0">
  <div class="container-fluid">
    <a class="navbar-brand ms-4-lg" href="#">
      <div class="rg-icon-container">
        <img
          src="https://media.discordapp.net/attachments/721986690348089355/1091368520446640239/My_logo_pos.png?width=605&height=468"
          alt="Logo"
          class="d-inline-block align-text-top"
        />
      </div>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse align-items-start justify-content-end"
      id="navbarNav"
    >
      <ul class="navbar-nav justify-content-evenly">
        <li class="nav-item rg-item rg-nav-link">
          <a class="nav-link" [routerLink]="['/home/'+lang.lang]">{{selContent.navHome}}</a>
        </li>
        <li class="nav-item rg-item rg-nav-link">
          <a class="nav-link" [routerLink]="['/gallery/'+lang.lang]">{{selContent.navGal}}</a>
        </li>
        <li class="nav-item rg-item rg-nav-link">
          <a class="nav-link" [routerLink]="['/home/'+lang.lang]">{{selContent.navContact}}</a>
        </li>
        <li class="nav-item dropdown rg-nav-link">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{selContent.navLang.name}}
          </a>
          <ul
            class="dropdown-menu bg-transparent"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" (click)="chngLang('en')" [routerLink]="['/home']">{{selContent.navLang.opt1}}</a>
            </li>
            <li><a class="dropdown-item" (click)="chngLang('es')" [routerLink]="['/home']">{{selContent.navLang.opt2}}</a></li>
          </ul>
        </li>

        <li *ngIf="supabase.getSession()" class="nav-item dropdown rg-nav-link rg-nav-user">
          <a
            class="nav-link dropdown-toggle"
            id="navbarUser"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            RGERU
          </a>
          <ul
            class="dropdown-menu bg-transparent"
            aria-labelledby="navbarUser"
          >
            <li>
              <a class="dropdown-item" [routerLink]="['/panel']">Control panel</a>
            </li>
            <li><button class="dropdown-item" (click)="supabase.signOut()">Log Out</button></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
