<div class="rg-footer container-fluid d-flex flex-column align-items-center" data-aos="fade-up">
    
  <div class="rg-footer_container d-flex justify-content-evenly container-fluid">
    <div class="rg-footer_content d-flex flex-column align-items-center justify-content-between">
      <h4 class="fs-3 fw-bold">ABOUT ME</h4>

      <div class="rg-footer_positioning d-flex flex-column align-items-center justify-content-around">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non temporibus similique laudantium reprehenderit voluptatem cumque minima, inventore aut quidem nostrum?</p>
        <div class="rg-logo">
          <img src="../../assets/logo-white.png">
        </div>
      </div>
    </div>

    <div class="rg-footer_content d-flex flex-column align-items-center justify-content-between">
      <h4 class="fs-3 fw-bold mb-3">FOLLOW ME</h4>

      <div class="rg-footer_icons-container d-flex align-items-center">
        <div class="rg-footer_opacity"><i class="fab fa-twitter"></i></div>
        <div class="rg-footer_pixiv-logo rg-footer_opacity"><img src="../../assets/pixiv.svg"></div>
        <div class="rg-footer_opacity"><i class="fab fa-patreon"></i></div>
        <div class="rg-footer_opacity"><i class="fab fa-instagram"></i></div>
      </div>

      <div class="rg-pixifanbox_img rg-footer_opacity">
        <img src="../../assets/fanbox.webp">
      </div>
    </div>
  </div>

  <div class="rg-footer_copy justify-self-center">
    <p class="text-center"><i class="far fa-copyright fs-5"></i>     RGeru All rights reserved</p>
  </div>
</div>
