.rg-footer{
    font-family: 'Montserrat', sans-serif;
    background-color: #222121;
    height: 70vh;

    .rg-footer_container{
        width: 100%;
        height: 90%;
    }
    .rg-footer_content{
        width: 45%;
        height: 100%;

        .rg-footer_positioning{
            height: 100%;
        }
        h4, p{
            color: #ffffff;
        }
        p{
            opacity: 70%;
            text-align: justify;
            font-size: 21px;
            margin-bottom: 0;
        }
        h4{
            letter-spacing: 5px;
            margin-top: 10%;
            margin-bottom: 15px;
        }
        .rg-logo{
            width: 50%;
            opacity: 50%;

            img{
                width: 100%;
                height: 100%;                
            }
        }
    }
    .rg-copy{
        width: 100%;
        height: 8%;

        p{
            color: #ffffff;
        }
    }
    .rg-footer_icons-container{
        width: 100%;
        i{
            color: #ffffff;
            font-size: 50px;
        }
        img{
            width: 65px;
        }
    }
    .image{
        width: 200px;
        height: 200px;
    }
    .rg-footer_pixiv-logo{
        filter: brightness(0) invert(1);
    }
    .rg-footer_opacity{
        opacity: .5;
        transition: all .2s;
        cursor: pointer;
        &:hover{
            opacity: 1;
            transform: scale(1.2);
        }
    }
}
