<div class="rg-footer fixed-bottom d-flex flex-column">
    
  <div class="d-flex">
    <div class="rg-footer_content mb-3 d-flex flex-column align-items-center">
      <h4 class="fs-3 fw-bold">ABOUT ME</h4>

      <div class="rg-footer_positioning d-flex flex-column align-items-center">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, cum minus. Odit, ullam hic libero
          temporibus molestiae doloribus tempora nisi! Totam impedit odit commodi ab quas nemo soluta nihil aspernatur.
        </p>

        <div class="rg-logo">
          <img src="../../assets/logo-blue.png" alt="">
        </div>
      </div>
    </div>

    <div class="rg-footer_content d-flex flex-column align-items-center">
      <h4 class="fs-3 fw-bold">FOLLOW ME</h4>

      <div class="rg-footer_positioning">

      </div>
    </div>
  </div>

  <div class="rg-copy fixed-bottom justify-self-center">
    <p class="text-alig-center">RGeru All rights reserved</p>
  </div>
</div>
