<div class="my-5 rg-gal-subtitle">
    <h2 class="text-center fw-bold">LATEST WORKS</h2>
</div>
<div class="rg-parent-container container d-flex justify-content-center mb-5">
    <div class="parent">
        <div class="div-v div1 " data-aos="zoom-in-right">
            <img class="img" src="https://media.discordapp.net/attachments/721986690348089355/1090024956982730933/Pawa.jpg?width=332&height=468" alt="">
        </div>
        <div class="div-h div2" data-aos="zoom-in-left">
            <img class="img" src="https://media.discordapp.net/attachments/721986690348089355/1090024956982730933/Pawa.jpg?width=332&height=468" alt="">
        </div>
        <div class="div-v" data-aos="zoom-in-right">
            <img class="img" src="https://media.discordapp.net/attachments/721986690348089355/1090024956982730933/Pawa.jpg?width=332&height=468" alt="">
        </div>
        <div class="div-v" data-aos="zoom-in-left">
            <img class="img" src="https://media.discordapp.net/attachments/721986690348089355/1090024956982730933/Pawa.jpg?width=332&height=468" alt="">
        </div>
        <div class="div-h div3" data-aos="zoom-in-right">
            <img class="img" src="https://media.discordapp.net/attachments/721986690348089355/1090024956982730933/Pawa.jpg?width=332&height=468" alt="">
        </div>
        <div class="div-v"data-aos="zoom-in-left">
            <img class="img" src="https://media.discordapp.net/attachments/721986690348089355/1090024956982730933/Pawa.jpg?width=332&height=468" alt="">
        </div>
    </div>
</div>