<div class="rg-banner container-fluid justify-content-evenly">
  <div
    class="row justify-content-center position-relative"
    *ngIf="!router.url.includes('gallery'); else elseBanner"
  >
    <div class="col-lg center-block rg-container">
      <div
        class="rg-banner-title-container d-flex align-items-lg-start justify-content-center flex-column"
      >
        <div class="container-bottom-to-up">
          <h2 class="rg-banner-title bottom-to-up px-4">{{selContent.banHi}}</h2>
        </div>
        <div class="container-bottom-to-up">
          <h2 class="rg-banner-subtitle rg-banner-anim">{{selContent.banPres}}</h2>
        </div>
        <span class="rg-banner-info fadeIn"
          >{{selContent.banDesc}}</span
        >
        <button
          class="btn mt-4 me-lg-5 mb-lg-3 fw-bold"
          [routerLink]="['/gallery/'+lang.lang]"
        >
          {{selContent.banBtn}}
        </button>
      </div>
    </div>
    <div class="rg-banner-img-container col-lg">
      <div class="rg-banner-img d-flex justify-content-center">
        <img
          class="fadeIn"
          src="https://media.discordapp.net/attachments/721986690348089355/1090024425119809596/d84z7mc-969c82ff-9509-4813-895b-1d00b83b1250.jpg?width=365&height=473"
        />
      </div>
    </div>
  </div>

  <ng-template #elseBanner>
    <div class="row justify-content-center position-relative">
      <div class="col-lg center-block rg-container mt-lg-4">
        <div
          class="rg-banner-title-container2 d-flex align-items-lg-start justify-content-center flex-column"
        >
          <div class="container-bottom-to-up mb-lg-2">
            <h2 class="rg-banner-title bottom-to-up px-lg-4">{{selContent.banGal}}</h2>
          </div>
          <span class="rg-banner-info fadeIn"
            >{{selContent.banGalDesc}}</span
          >
        </div>
      </div>
      <div class="rg-banner-img-container2 col-lg">
        <div class="rg-banner-img d-flex justify-content-center">
          <img
            class="fadeIn"
            src="https://media.discordapp.net/attachments/721986690348089355/1090024424784277614/belen_by_rgeru_d84q5zq-fullview.jpg?width=365&height=473"
          />
        </div>
      </div>
    </div>
  </ng-template>
</div>
