<div class="rg-banner container-fluid justify-content-evenly">
    <div class="row justify-content-center">
        <div class="col  center-block ">
            <div class="rg-banner-title-container d-flex align-items-start justify-content-center flex-column">
                <h2 class="rg-banner-title px-4">Hi!</h2>
                <h2 class="rg-banner-subtitle">I'M RGERU</h2>
                <span class="rg-banner-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempore voluptatum reprehenderit magni vel vero laboriosam atque</span>
                <button class="btn mt-4 me-5">GALLERY</button>
            </div>
            
        </div>
        <div class="col">
            <div class="rg-banner-img w-100 h-100 d-flex justify-content-center">
                <img src="https://media.discordapp.net/attachments/721986690348089355/1090024425119809596/d84z7mc-969c82ff-9509-4813-895b-1d00b83b1250.jpg?width=365&height=473">
            </div>
        </div>
    </div>
</div>
