<div class="rg-banner container-fluid justify-content-evenly">
    <div class="row justify-content-center position-relative">
        <div class="col-lg center-block rg-container">
            <div class="rg-banner-title-container d-flex align-items-lg-start justify-content-center flex-column">
                <div class="container-bottom-to-up">
                    <h2 class="rg-banner-title bottom-to-up px-4">Hi!</h2>
                </div>
                <div class="container-bottom-to-up">
                    <h2 class="rg-banner-subtitle rg-banner-anim">I'M RGERU</h2>
                </div>
                <span class="rg-banner-info fadeIn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempore voluptatum reprehenderit magni vel vero laboriosam atque</span>
                <button class="btn mt-4 me-lg-5 mb-lg-3 fw-bold">GALLERY</button>
            </div>
            
        </div>
        <div class="rg-banner-img-container col-lg">
            <div class="rg-banner-img d-flex justify-content-center">
                <img class="fadeIn" src="https://media.discordapp.net/attachments/721986690348089355/1090024425119809596/d84z7mc-969c82ff-9509-4813-895b-1d00b83b1250.jpg?width=365&height=473">
            </div>
        </div>
    </div>
</div>
