//CONTENEDOR DEL FORM
.rg-form_container {
  font-family: "Montserrat", sans-serif;
  height: 95vh;
  position: relative;
  justify-content: center;
}
form {
  background-color: blueviolet;
  position: relative;
  width: 80%;
  height: 92%;
  background-color: #ededed;
  border-radius: 15px;
}
.rg-form_vignette {
  height: 4em;
  width: 40%;
  background-color: #cb4a3f;
  border-radius: 15px;
  position: absolute;
  left: -15px;
  top: -30px;
  p {
    color: #ffffff;
    margin-bottom: 0;
  }
}
.rg-form_background {
  background-color: #cb4a3f;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
}
.rg-form_content {
  height: 50%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  textarea{
    margin-bottom: 10px;
  }
  button {
    background-color: #cb4a3f;
    width: 5em;
    color: #ffffff;
    align-self: center;
    &:hover {
      background-color: #9f1e13;
    }
  }
}
//CONTENEDOR DE POSICIONAMIENTO

.rg-form_positioning {
  width: 45%;
  height: 100%;
  max-height: 100%;
}
select {
  color: #bfbfbf;
}
option:not(:first-of-type) {
  color: #000000;
}
.rg-form_pet-desktop {
  height: 100%;
  width: 70%;
  position: relative;
  bottom: -50px;
  display: flex;
  justify-content: center;
  img {
    height: 100%;
    max-width: 100%;
  }
}
.rg-form_description {
  height: 60%;
}
.rg-form_description-container {
  width: 100%;
  justify-content: space-evenly;
  p {
    font-size: 11px;
    text-align: justify;
    width: 90%;
  }
  input {
    width: 20px;
    height: 20px;
    margin: 0;
  }
}
.form-check-input {
  cursor: pointer;
}
.rg-form_pet-mobile{
  display: none;
}
//RESPONSIVE PARA MOVILES

@media (min-width: 250px) and (max-width: 700px){
  form{
    width: 99.5%;
    height: 70%;
  }
  .rg-form_container{
    height: 130vh;
    flex-direction: column;
    align-items: center;
  }
  .rg-form_background{
    height: 70%;
  }
  .rg-form_pet-desktop{
    display: none;
  }
  .rg-form_positioning {
    width: 93%;
  }
  .rg-form_content{
    height: 50%;
    width: 100%;
    margin: 0;
    padding: 0 20px 20px 20px;
    textarea{
      height: 50%;
    }
    p{ 
      margin-bottom: 5px;
      overflow: scroll;
      height: 55%;
    }
    button{
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
  .rg-form_vignette{
    width: 70%;
    p{
      font-size: 14px;
    }
    .rg-form_description-container{
      padding: 0;
      justify-content: space-between;
    }
  }
  .rg-form_pet-mobile{
    display: flex;
    height: 250px;
    z-index: 10;
    img{
      height: 100%;
    }
  }
}