<div class="rg-form_container d-flex container-fluid">
  
  <div class="rg-form_background"></div>
  <form>
    <div
      class="rg-form_vignette container-fluid d-flex justify-content-center align-items-center"
    >
      <p>Send me a message</p>
    </div>

    <div
      class="rg-form_content container-fluid d-flex justify-content-evenly align-items-center"
    >
      <div class="rg-form_positioning rg-form_inputs pt-5 mt-5">
        <div class="mb-2">
          <label class="form-label">E-mail</label>
          <input type="text" class="form-control" />
        </div>
        <div class="mb-2">
          <label class="form-label">Subject</label>
          <input type="text" class="form-control" />
        </div>
        <div class="mb-2">
          <label class="form-label">Order</label>
          <select class="form-select" name="" id="">
            <option
              class="rg-form_select-first-option"
              disabled
              selected
              hidden
            >
              Choose one
            </option>
            <option value="">Example</option>
            <option value="">Example</option>
            <option value="">Example</option>
          </select>
        </div>
      </div>
        <div class="rg-form_pet-desktop rg-form_positioning align-items-end">
          <img src="../../assets/petGeru.png" />
        </div>
    </div>
    <div class="rg-form_content d-flex flex-column">
      <label class="form-label mt-3">Description</label>
      <textarea
        class="rg-form_description form-control"
        name=""
        id=""
        cols="30"
        rows="10"
      ></textarea>

      <div
        class="rg-form_description-container d-flex align-items-center"
      >
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam fuga
          voluptatibus voluptatem aperiam. Iste minus, necessitatibus in fuga,
          odit consequuntur libero voluptate doloribus distinctio illum magni
          error velit ullam excepturi.
        </p>
        <input type="checkbox" class="form-check-input" />
      </div>
      <button type="submit" class="btn mb-4">Send</button>
    </div>
  </form>

  <div class="rg-form_pet-mobile">
    <img src="../../assets/petGeru.png" />
  </div>
</div>