<app-header></app-header>
<app-banner></app-banner>
<div class="rg-container d-flex justify-content-center align-items-start mt-4">
  <div class="sticky-top pt-4 px-4 d-none d-lg-block" id="galNavbar">
    <div class="offcanvas-header d-flex justify-content-center">
      <h5 class="offcanvas-title text-center">Comissions and pricing</h5>
    </div>
    <div class="offcanvas-body m-0 d-flex justify-content-center">
      <ul
        class="navbar-nav d-flex flex-column justify-content-start px-4 text-center mt-3"
      >
        <li class="nav-item rg-selected">
          <a class="nav-link">COLOR ILLUSTRATIONS</a>
        </li>
        <li class="nav-item rg-nav-item">
          <a class="nav-link">EXAMPLE TITLE</a>
        </li>
        <li class="nav-item rg-nav-item">
          <a class="nav-link">EXAMPLE TITLE</a>
        </li>
        <li class="nav-item rg-nav-item">
          <a class="nav-link">EXAMPLE TITLE</a>
        </li>
        <li class="nav-item rg-nav-item">
          <a class="nav-link">EXAMPLE TITLE</a>
        </li>
        <li class="nav-item rg-nav-item">
          <a class="nav-link">EXAMPLE TITLE</a>
        </li>
      </ul>
    </div>
  </div>
  <app-gallery></app-gallery>
</div>
