/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Bevan&family=Montserrat:wght@400;600&display=swap");
/** Swiper use */
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

* {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #f5deb3a9;
  color: #000000;
}

//ESTILO GLOBAR PARA PC
@media screen and (min-width: 992px) and (orientation: landscape) {
  body,
  #galNavbar ul {
    /* ===== Scrollbar CSS ===== */
    /* Firefox */

    scrollbar-width: auto;
    scrollbar-color: #cb4a3f #f5deb3;

    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 16px;
    }

    &::-webkit-scrollbar-track {
      background: #f5deb3;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #cb4a3f;
      border-radius: 10px;
      border: 3px solid #cb4a3f;
    }
  }
}
